@import './reset.css';
@import './var.css';

#app {
  padding: 24px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color)!important;
}

.mb-xl {
  margin-bottom: var(--margin-xl);
}

.mb-m {
  margin-bottom: var(--margin-m);
}

.monaco-editor-highlight {
  background-color: var(--editor-highlight-background-color)!important;
  color: var(--editor-highlight-color)!important;
}
