:root {
  --background-color: #fef6e4;
  --background-title-color: #fec7d7;

  --headline-color: #001858;
  --paragraph-color: #172c66;

  --button-text-color: #001858;
  --stroke-color: #001858;

  --main-color: #f3d2c1;
  --secondary-color: #8bd3dd;
  --caution-color: #f582ae;

  --editor-highlight-color: #FF5B00;
  --editor-highlight-background-color: #FFF0E5;

  --margin-xl: 20px;
  --margin-m: 12px;
  --margin-s: 8px;
  --margin-xs: 6px;

  --border-radius-l: 8px;
  --border-radius-m: 6px;

  --font-size-xxl: 3rem;
  --font-size-xl: 2.4rem;
  --font-size-l: 1.6rem;
  --font-size-m: 1rem;
  --font-size-s: 0.8rem;
}